.body{
    margin: 0;
    padding: 0;
}

.bodyTitle p{
 margin: 0;
 font-size: larger;
 font-weight: bold;
 padding-top: 1%;
 padding-bottom: 1%;
}
.bodyTitle{
    background-color: brown;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.textDescription{
    font-size: 85%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: 1px;
    height: 100%;
}

.ID{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.photosHome{
    width: 90vw;
    height: 40vh;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 10%;
    
}
.photosHome img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

@media screen and (min-width: 320px) {

}

@media screen and (min-width: 420px) {
    .photosHome{
        width: 80vw;
        height: 40vh;
        object-fit: cover;
        margin-bottom: 5px;
        border-radius: 10%;
        
    }
    .photosHome img{
        width: 100%;
        height: 100%;
        border-radius: 10%;
    }
}

@media screen and (min-width: 600px) {
    .photosHome{
        width: 40vw;
        height: 40vh;
        object-fit: cover;
        margin-bottom: 5px;
        border-radius: 10%;
        margin: 3px;
        
    }
    .photosHome img{
        width: 100%;
        height: 100%;
        border-radius: 10%;
    }

    .ID>div{
        display: flex;
        width: 90vw;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .photosHome{
        width: 100vw;
        height: 60vh;
        object-fit: cover;
        margin-bottom: 5px;
        border-radius: 10%;
        margin: 3px;
        
        
        
    }
    .photosHome img{
        width: 100%;
        height: 60%;
        border-radius: 10%;
        padding-top: 70px;
    }

    .ID>div{
        display: flex;
        width: 90vw;
        flex-wrap: nowrap;
        
        justify-content: center;
        align-items: center;
    }
}