.TitleLogo{
    height: fit-content;
    justify-content: center;
    text-align: center;
    background-color: blueviolet;
}
.Title{
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 90vw;
}
.buttons li{ 
    border: 1px solid aquamarine;
}

.buttons a{
    color: white;
}