.TitleLogo{
    border: 1px solid red;
    width: 100vw;
    height: 15vw;
    justify-content: center;
    text-align: center;

    background-color: blueviolet;
}

.buttons{
    border: 1px solid aquamarine;
    text-align: start;
    color: black;
    background-color: aquamarine;
}

a{
    color: white;
}