.TitleLogo{
    height: fit-content;
    justify-content: center;
    text-align: center;
    background-color: #4F200D;
    gap: 1px;
    margin: 0;
    padding: 0;
}
.title h1{
    margin: 0;
    padding: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    width: 90vw;
}
.buttons li{ 

}

.buttons a{
    color: white;
    text-decoration: none;
}